---
import PageLayout from "../../layouts/PageLayout.astro";
import BlogPostCard from "../../components/BlogPostCard.astro";
import SectionHeader from "../../components/SectionHeader.astro";
import { getCollection } from "astro:content";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const posts = await getCollection("blog", ({ data }) => !data.draft);
const sorted = posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<PageLayout title={t.blog.pageTitle} description={t.blog.pageSubtitle}>
  <div class="max-w-5xl mx-auto px-4 sm:px-6 py-12">
    <SectionHeader title={t.blog.pageTitle} subtitle={t.blog.pageSubtitle} />
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {sorted.map((post) => (
        <BlogPostCard
          slug={post.id}
          title={post.data.title}
          description={post.data.description}
          pubDate={post.data.pubDate}
          tags={post.data.tags}
        />
      ))}
    </div>
  </div>
</PageLayout>
